<html>
    <head>
        <title>Мой первый сайт</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мой первый сайт</a></h1>
        </div>

        <div>
            <p>Опубликовано: 20.05.2019, 12:14</p>
            <h2><a href="">Первый текст на белой странице</a></h2>
            <p>И вот он появился. Даже не верится, что спустя 3 дня втыкания в тексты и командную строку, тут появился какой то текст.</p>
        </div>

        <div>
            <p>Опубликовано: 20.05.2019, 12:14</p>
            <h2><a href="">Второй пост</a></h2>
            <p>И хотя большая часть того, что я делаю, это просто выполнение инструкций, которые не всегда легко понять, уже круто, что эта фигня висит в интернете</p>
        </div>
    </body>
</html>